<br>
<br>
<ul class="container-fluid show-museum">
	<li>
		<%= @museum.name %><br>
		<%= @museum.specialty %><br>
		<%= @museum.description %><br>
		<%= @museum.url %><br>
	</li>
</ul>
<br>
<br>

<div class="container-fluid">
	<img class="museum-image" style="width: 50%;" src="<%= @museum.image %>">

<br>
<br>
<br>
		<form>
			<a href="/museums/<%= @museum.id %>/edit" class="btn btn-success">Edit</a>
    		
    		<a href="/museums/<%= @museum.id %>" class="btn btn-danger" method="post" name="_method" input type="submit" value="delete">Delete</a>

    		<a href="/museums" class="btn btn-primary ">Home</a>
		</form>
		
</div>




     