<%= @museum.name %>,
<%= @museum.specialty %>,
<%= @museum.description %>,
<%= @museum.url %>

<img class="museum-image" style="width: 50%;" src="<%= @museum.image %>">



<form action="/museums/ <%= @museum.id %>">
	<button type="button" class="btn btn-success btn-lg">Edit</button>
    <button type="button" class="btn btn-danger btn-lg">Delete</button>
    <button type="button" class="btn btn-primary btn-lg">Home</button>
</form>


     