<br>
<br>
<ul class="container-fluid show-museum">
	<li>
		<%= @museum.name %><br>
		<%= @museum.specialty %><br>
		<%= @museum.description %><br>
		<a href="<%= @museum.url %>">Website<br>
	</li>
</ul>
<br>
<br>
<div class="container-fluid">
	<img class="museum-image" style="width: 50%;" src="<%= @museum.image %>">
<br>
<br>
<br>
	
		<a href="/museums/<%= @museum.id %>/edit" class="btn btn-success">Edit</a>
    <form action="/museums/<%= @museum.id %>" method="post">	
    	<input type="hidden" name="_method" value="delete">
    	<input  class="btn btn-danger" type="submit" value="Delete">
	</form>	
    	<a href="/museums" class="btn btn-success">Home</a>
	
</div>




     