<div class="container-fluid">
	<%= @museum.name %>,
	<%= @museum.specialty %>,
	<%= @museum.description %>,
	<%= @museum.url %>
</div id="showimage">

<img class="museum-image" style="width: 50%;" id="showimage" src="<%= @museum.image %>">

<form>
	
	<a href="/museums/<%= @museum.id %>/edit" class="btn btn-success">Edit</a>
    <button type="button" class="btn btn-danger btn-lg">Delete</button>
    <a href="/museums" class="btn btn-primary ">Home</a>
</form>



     